# TODO: unpin 3.5.0 when this bug is fixed: https://github.com/sphinx-doc/sphinx/issues/8885
sphinx<3.5.0
-e git://github.com/rmk135/sphinxcontrib-disqus.git#egg=sphinxcontrib-disqus

-r requirements-ext.txt
pygments>=2.7.4 # not directly required, pinned by Snyk to avoid a vulnerability
